<div class="modal fade" id="appointmentCreate" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Create Appointment</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="material-icons">clear</i>
				</button>
			</div>
			<div class="modal-body">
				<form action="/appointments/create" method="POST">
					<div class="form-row">
						<div class="form-group col-md-12">
							{{#if apt}}
							<label for="userId" class="bmd-label-floating">Appointment Info</label>
							{{else}}
							<label for="userId" class="bmd-label-floating">User ID</label>
							{{/if}}
							<input type="text" class="form-control" id="userId" name="userId">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="practitionerId" class="bmd-label-floating">Practitioner ID</label>
							<input type="text" class="form-control" id="practitionerId" name="practitionerId">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="procedure" class="bmd-label-floating">Procedure</label>
							<input type="text" class="form-control" id="procedure" name="procedure">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="cost" class="bmd-label-floating">Cost</label>
							<input type="number" step="0.01" min="0" class="form-control" id="cost" name="cost">
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-link">Save</button>
						<button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>