/* Quick simple style sheet for the map*/
#map {
    height: 75%;
    width: 75%;
}
/* 
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

input, label {
    display: block;
    padding: 5px;
} */
