<div class="sticky post-it spaced shadow flex-column">
    <h1 class="title-text">Create a Profile</h1>
    <form id="create-profile-form" class="flex-column baseline" method="POST">
        <div class="flex-row">
            <label>First Name <input class="wide-input" type="text" name="firstName"></label>
            <label>Last Name <input class="wide-input" step="0.000001" name="lastName"></label>
        </div>
        <label>email <input class="wide-input" type="email" name="email"></label>
        <label>Password <input class="wide-input" type="password" name="password"></label>
        <label>Confirm Password <input class="wide-input" type="password" name="passwordConfirm"></label>
        <label>Insurance Provider <input class="wide-input" type="text" name="insuranceProvider"></label>
        <label>Admin? <input type="checkbox" name="admin"></label>
        <i id="submit" class="clickable material-icons">done</i>
        <span id="msg" class="info-text"></span>
    </form>
</div>