<div class="modal fade" id="createApt" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Create Appointment</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="material-icons">clear</i>
				</button>
			</div>
			<div class="modal-body">
				<form action="{{create_apt_upload_url}}" method="POST" enctype="multipart/form-data">
					<div class="form-row">
						<div class="col-md-6">
							<input type="file" name="file">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="name" class="bmd-label-floating">Name</label>
							<input type="text" class="form-control" id="name" name="name">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="description" class="bmd-label-floating">Description</label>
							<textarea class="form-control" id="description" name="description" rows=3></textarea>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="quantity" class="bmd-label-floating">Quantity</label>
							<input type="number" class="form-control" id="quantity" name="quantity">
						</div>
						<div class="form-group col-md-6">
							<label for="material" class="bmd-label-floating">Material</label>
							<select class="form-control" data-style="btn btn-link" id="material" name="material">
								<option value=""></option>
								<!-- todo: get list of materials -->
								<option value="1">PLA (Weakest)</option>
								<option value="2">ABS (Stronger)</option>
								<option value="3">Lab's Choice (Probably PLA)</option>
								<option value="4">Unobtainium (Strongest Possible)</option>
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-link">Save</button>
						<button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>