<div class="modal fade" id="appointmentEdit" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Edit Appointment</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="material-icons">clear</i>
				</button>
			</div>
			<div class="modal-body">
				<form action="/admin/appointment/edit" method="POST">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="userId">User Id</label>
							<input type="text" class="form-control" id="userId" name="userId">
						</div>
						<div class="form-group col-md-6">
							<label for="userEmail">User Email</label>
							<input type="text" class="form-control" id="userEmail" name="userEmail">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="practitionerId">Practitioner Id</label>
							<input type="text" class="form-control" id="practitionerId" name="practitionerId">
						</div>
						<div class="form-group col-md-6">
							<label for="practitionerName">Practitioner Name</label>
							<input type="text" class="form-control" id="practitionerName" name="practitionerName">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="insurance">Insurance</label>
							<select class="form-control" data-style="btn btn-link" id="insurance" name="insurance">
								<option value="">Select Insurance Provider</option>
								<option value="Blue Cross">Blue Cross</option>
								<option value="Cigna">Cigna</option>
								<option value="Delta">Delta</option>
								<option value="Horizon">Horizon</option>
								<option value="United">United</option>
							</select>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="procedureInterest">Procedure</label>
							<input type="text" class="form-control" id="procedureInterest" name="procedureInterest">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="costSeen">Cost</label>
							<input type="number" step="0.01" min="0" class="form-control" id="costSeen" name="costSeen">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="verification">Verification</label>
							<select class="form-control" data-style="btn btn-link" id="verification"
								name="verification">
								<option value=true>True</option>
								<option value=false>False</option>
							</select>
						</div>
					</div>
					<input type="hidden" class="form-control" id="_id" name="_id">
					<div class="modal-footer">
						<button type="submit" class="btn btn-link">Save</button>
						<button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>