<footer class="footer">
    <div class="container">
        {{!-- <nav class="float-left">
            <ul>
                <li>
                    <a href="">
                        <i class="material-icons">info</i> Careers
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="material-icons">people</i> About
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="material-icons">library_books</i> Papers
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="material-icons">whatshot</i> Proof Lab
                    </a>
                </li>
            </ul>
        </nav> --}}
        <div class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, made with
            <i class="material-icons">favorite</i> by Mike, Mike, and Tony.
        </div>
    </div>
</footer>