.form{
    max-width: 90%;
    min-width: 43%;
    border-width: 2px;
    border-color: #CCCCCC;
    border-radius: 4px;
    border-style: solid;
    color: #220802;
    font-size: 15px;
    margin: 0px;
    background-color: #FFFFFF;
    padding: 20px;
}
.content{
    margin: 0px;
}
.form label{
    color: #220702;
    font-size: 14px;
    display: block;
}
.form input[type=radio], input[type=checkbox]{
    margin: 10px;
    width: 13px;
}
.form div{
    display: block;
}
.form input, .form textarea, .form select{
    border-width: 1px;
    border-style: solid;
    border-color: #666666;
    border-radius: 0px;
    font-size: 16px !important;
    height:36px !important;
    padding: 5px !important;

}
.body h1, body h2, .form, .form h1, .form h2{
    font-family: 'Arial';
}
.form h1{
    font-size: 40px;
    color: #607A75;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    border-bottom-style: dotted;
    border-bottom-color: #CCCCCC;
    border-bottom-width: 2px;
    border-radius: 0px;
    background-color: #FFFFFF;
}
.intro{
    margin-bottom: 10px;
}
.clear{
    clear: both;
}
.form textarea{
  font-size: 16px !important;
  height:200px !important;
  width: 700px!important;
}
.form input[type=submit]{
    width: 100%;
    background-color: #CCCCCC;
    color: #222222;
}
.field{
    margin-bottom: 5px;
}

.body h1{
    font-family: 'Arial';
    font-size: 40px;
    color: #607A75;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    border-bottom-style: dotted;
    border-bottom-color: #CCCCCC;
    border-bottom-width: 2px;
    border-radius: 0px;
    background-color: #FFFFFF;
}

.ideas-content {
  font-family: 'Arial';
  font-size: 20px;
}
.proof-content {
  font-family: 'Arial';
  font-size: 17px;
}
.ideas-program h2{
  font-family: 'Arial';
  font-size: 30px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  border-bottom-color: #CCCCCC;
  border-bottom-width: 2px;
  border-radius: 0px;
  background-color: #FFFFFF;
}
#table-3 {
    border: 1px solid #DFDFDF;
    background-color: #F9F9F9;
    width: 100%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-family: Arial,"Bitstream Vera Sans",Helvetica,Verdana,sans-serif;
    color: #333;
}

#table-3 td, #table-3 th {
    border-top-color: white;
    border-bottom: 1px solid #DFDFDF;
    color: #555;
}
#table-3 th {
    text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
    font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    font-weight: normal;
    padding: 7px 7px 8px;
    text-align: left;
    line-height: 1.3em;
    font-size: 14px;
}
#table-3 td {
    font-size: 12px;
    padding: 4px 7px 2px;
    vertical-align: top;
}
