<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name= "viewport" content="initial-scale=1.0">
    
    <title>Map Service</title>

    <link rel='stylesheet' href="/public/map/mapstyle.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    
    <h1>MAP</h1>
    <div id="map"></div>
    


    <script src="/public/map/js/healthmap.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX&callback=initMap" type="text/javascript"></script>
</body>
</html>
