body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    margin: 0;
    background: #fff;
}

button {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-family: 'Consolas', serif;
    color: #000;
    font-size: 20px;
    background: #fff;
    margin: 15px 15px;
    border: solid #000 1px;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background: #000;
    color: #fff;
    text-decoration: none;
}

input {
    width: 5em;
}

label {
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}

ol {
    padding-left: 0;
    list-style-position: inside;
}

ul {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}

/* COLORS */
.bad {
    color: #7f231c;
}

.good {
    color: #1b5e20;
}

.post-it {
    background-color: #FFFFA5;
}

/* END COLORS */

/* MISC */
.clickable {
    cursor: pointer;
}

.clickable::selection {
    background-color: transparent;
    color: #000;
}

.disabled {
    display: none !important;
}

.key::after {
    content: ':\a0';
}

.money::before {
    content: '$';
}

.shadow {
    box-shadow: 7px 7px 5px #bbb;
}
/* END MISC */

/* FLEX */
.flex-column {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    margin: 0;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    margin: 0;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}
/* END FLEX */

/* POSITION & ALIGNMENT */

.baseline {
    align-items: baseline !important;
}

.start {
    justify-content: flex-start !important;
}

.indented {
    margin-left: 10px;
}

.spaced {
    margin: 20px;
    padding: 20px;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
/* END POSITION & ALIGNMENT */

/* SIZE */
.unset-size {
    font-size: unset !important;
}

.large {
    font-size: large !important;
}

.small {
    font-size: small !important;
}

.wide {
    width: 100%;
}

.wide-input {
    width: 10em;
}
/* END SIZE */

/* TEXT STYLES */
.bold {
    font-weight: bold;
}

.consolas {
    font-family: 'Consolas', serif !important;
}

.info-text {
    font-family: 'Raleway', sans-serif;
}

.raleway {
    font-family: 'Raleway', sans-serif !important;
}

.title-text {
    font-size: xx-large;
    font-family: 'Consolas', serif;
    text-align: center;

    white-space: nowrap;
    overflow-x: hidden;

    color: #000;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px inset #000;

    margin-bottom: 15px;
}
/* END TEXT STYLES */


@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('/public/font/Raleway/raleway-v12-latin-regular.eot');
    src: local('Raleway'), local('Raleway-Regular'),
    url('/public/font/Raleway/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('/public/font/Raleway/raleway-v12-latin-regular.woff2') format('woff2'),
    url('/public/font/Raleway/raleway-v12-latin-regular.woff') format('woff'),
    url('/public/font/Raleway/raleway-v12-latin-regular.ttf') format('truetype'),
    url('/public/font/Raleway/raleway-v12-latin-regular.svg#Raleway') format('svg');
}