{{!-- <!-- Quick map handlebars --> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name= "viewport" content="initial-scale=1.0">
    
    <title>Map Service</title>

    <link rel='stylesheet' href="/public/map/mapstyle.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    
    <h1>Google Map Service</h1>
    <form id="search_params">
        <label for="insurance">Enter insurance provider</label>
        <input name="insurance" id="insurance" type="text" placeholder="Enter Insurance Provider">
        <label for="procedure">Enter procedure</label>
        <input name="procedure" id="procedure" type="text" placeholder="Enter Procedure or leave blank">
        <input type="submit" value="Submit">
    </form>

    <div id="map"></div>

    {{> map/apikey}}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    
    <script src="/public/map/js/healthmap.js"></script>
    
</body>
</html> --}}



<link rel='stylesheet' href="/public/map/mapstyle.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<meta name= "viewport" content="initial-scale=1.0">


<div id="wrapper">

    <div id="first">

        {{#> layouts/main }}
        {{#*inline "main-block"}}

        <div class="main">
            <div class="section">
                <div class="container">
                    <div align="center">
                        <div class="col-lg-12 col-md-12 ml-auto mr-auto">
                            <h2>Map Service</h2>


                            {{!--
                                Add if statement to check if user is logged in. If user is logged in use insurance provider that user has in profile
                            --}}



                            <form id="search-params">
                                
                                <div class="form-group">
                                    <label for="insurance-drop">Select an insurance provider</label>
                                    <select class="form-control selectpicker" data-style="btn btn-link" id="insurance-drop">
                                        <option>-</option>
                                        {{#if options.insurance.length}}
                                        {{#each options.insurance}}
                                        <option>
                                            {{this}}
                                        </option>
                                        {{/each}}
                                        {{/if}}
                                    </select>
                                </div>
                                
                                <div class="form-group">
                                    <label for="procedure-drop">Select a procedure</label>
                                    <select class="form-control selectpicker" data-style="btn btn-link" id="procedure-drop">
                                        <option>-</option>
                                        {{#if options.procedures.length}}
                                        {{#each options.procedures}}
                                        <option>
                                            {{this}}
                                        </option>
                                        {{/each}}
                                        {{/if}}
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{/inline}}
        {{/layouts/main}}

    </div>

    <div id="second">
        <div id="map"></div>
    </div>

</div>


{{> map/apikey}}
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    
<script src="/public/map/js/healthmap.js"></script>