<div class="main">
	<div class="section">
		<div class="container">
			<div align="center" class="row">
				<div class="col-lg-12 col-md-12 ml-auto mr-auto">
					<img align="center" src="/assets/img/hbLogoLanding.png" class="img-fluid">
					<br>
					<h2 class="text-center">
						<b>
							Project Heartbeat
						</b>
					</h2>
					<br>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 ml-auto mr-auto">
					<p>
						chefasrkfdjklfjwelfjkldjvasddfgkl
					</p>
				</div>
			</div>
		</div>
	</div>
</div>